#pesquisa{
  border-radius: 5px;
  width: 80%;
}

#my-progress{
  height:24px;
  width: 0%;
}

table thead tr th:first-child, td:first-child {
  text-align: center;
  width: 25%;
}

#btn-adicionar, #btn-salvar, #btn-cancelar, #btn-pesquisar{
  padding-top: 4px; 
  padding-bottom: 1px; 
  padding-left: 4px; 
  padding-right: 3px;
}

#btn-alterar, #btn-remover{
  padding-top: 0px; 
  padding-bottom: 0px; 
  font-size: x-large;
}

#btn-alterar{
  padding-left: 6px; 
  padding-right: 6px;
}

#btn-remover{
  padding-left: 8px; 
  padding-right: 8px;
}
